/* body{
    margin: 0;
    padding: 0;
    background-color: red;
} */

/* main container set to width 100% */
#main-container{
    width: 100%;
    background-color: #020202;


overflow-x: hidden;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

#div1{
    text-align: center;
    background-color:  #010008;

    height: inherit;
    width:80%;
    display: inline-block;
    box-sizing: border-box;
}


/* personal details  */



#Prsnl-dtls h1{
    text-align: center;
    padding-bottom: 20px;
    
}

#Prsnl-dtls p{
    text-align: center;
    display: flex;
    align-self: center;
    line-height: 2;
    padding-left: 5%;
    text-align: justify;
}

/* Profile */
#Profile p{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    line-height: 2;
    padding-left: 5%;
    text-align: justify;
}


/* stats */
#stats p{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    line-height: 2;
    padding-left: 5%;
    text-align: justify;
}


#Prsnl-dtls{
    text-align: center;
    padding-top: 30px;
    vertical-align: top;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    background-color:rgb(244, 240, 240);
   
    height: 320px;
    margin-bottom: 5px;
}

/* image */
#div1 img{
    height: 350px;
    width: 200px;
    min-width: 100px;
    min-height: 100px;
    width: 38%;
}

#Prsnl-dtls{
    list-style: none;
    display: inline-block;
    width: 38%;
}

#main-container #div2{
    text-align: center;
    display: inline-block;
    width: 80%;
    height: 40vh;
    background-color:  #01000c;
   
    
}

#div2 #Profile,#stats{
    overflow: scroll;
    box-sizing: border-box;
    display: inline-block;
    width: 38%;
    height: inherit;
   
    


}

/* scroll bar y axis */
#Profile{
    background-color:rgb(244, 240, 240);
    
}

#Profile::-webkit-scrollbar{
    overflow-y: hidden;
}

#stats{
    background-color:rgb(244, 240, 240);
}
#stats::-webkit-scrollbar{
    overflow-y: hidden;
}
#Profile h1{
    margin-top: 10px;
}
#stats  h1{
    margin-top: 10px;
}